* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: black;
    color: white;
}

header h1 {
    font-size: 50px;
    font-weight: normal;
}

a {
    color: aquamarine;
}